body{
    text-align: center;
    background-color: rgb(178, 204, 203);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    border-radius: 15px;
    border-style: groove;
    background-color: rgb(194, 226, 253);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 50%;
    border-radius: 7px
}
button{
    width: 50%;
    border-radius: 7px
}
button:hover{
    background-color: rgb(139, 189, 218);
}
.section:hover{
    background-color: rgb(141, 206, 197);
}